{% ckan_extends %}
{% block package_list_inner %}
    {% if h.ILRIMetadata_isListDatasets(h.full_current_url()) == false %}
        {% set packcount = 0 %}
        {% for package in packages %}
            {% set packcount = packcount +1 %}
            {% if packcount <= 2 %}
                {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for package in packages %}
                {% snippet 'snippets/package_item.html', package=package, item_class=item_class, hide_resources=hide_resources, banner=banner, truncate=truncate, truncate_title=truncate_title %}
            {% endfor %}
    {% endif %}
{% endblock %}
