{% ckan_extends %}

{% set resourceData = h.ILRIMetadata_stringToDict(data.description) %}

{% block basic_fields_name %}
      {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. January 2011 Cattle Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
{% endblock %}

{% block basic_fields_description %}
  <input type="hidden" id="field-description" name="description" placeholder="Species" value="{{ data.description }}" >  
  {{ form.markdown('resource_description', id='resource_description', label=_('Description'), placeholder=_('Some useful notes about the data'), value=resourceData['resource_description']) }}
{% endblock %}

{% block basic_fields_format %}
  <div class="control-group">
    <label class="control-label" for="field-format">{{ _("Format") }}</label>
    <div class="controls">
      <select id="field-format" name="format" data-module="autocomplete">        
        {% for ftype in h.ILRIMetadata_getResourceTypes()  %}
          {% if data.format %}
            <option value="{{ ftype }}" {% if ftype.lower() == data.format.lower() %}selected="selected"{% endif %}>{{ ftype }}</option>
          {% else %}
            <option value="{{ ftype }}">{{ ftype }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}

{% block metadata_fields %}
  <div class="control-group">
    <label class="control-label" for="field-format">{{ _("Accessibility") }}</label>
    <div class="controls">      
     <select id="ILRIResourceAccess" name="ILRIResourceAccess">        
        {% for accesstype in ["Public","Confidential","Private"]  %}
	    {% if "resource_access" in resourceData.keys()  %}
	      <option value="{{ accesstype }}" {% if accesstype.lower() == resourceData['resource_access'].lower() %}selected="selected"{% endif %}>{{ accesstype }}</option>
	    {% else %}
	      <option value="{{ accesstype }}" >{{ accesstype }}</option>
	    {% endif %}
        {% endfor %}
      </select>      
    </div>
  </div>

{% endblock %}
