{% ckan_extends %}

{% block header_account_notlogged %}
<li>{% link_for _('Log in'), controller='user', action='login' %}</li>
<li>{% link_for _('Request a publisher account'), controller='ckanext.ilrifrontend.controller:requestAccountController', action='display_requestAccount' %}</li>

{% endblock %}

{% block header_site_navigation_tabs %}

{{ h.build_nav_main(
              ('search', _('Datasets')),
              ('organizations_index', _('Organizations')),
              ('group_index', _('Groups')),
              ('ILRIPolicy', _("Open Data Policy")),
              ('about', _('About'))
            ) }}


{% endblock %}